# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android
android/.gradle/
android/captures/
android/app/build/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/
ios/Pods/
ios/Podfile.lock
ios/DerivedData/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/.dart_tool/
web/.packages
web/build/

# VS Code and IntelliJ/Android Studio
.idea/
.vscode/
*.iml

# Others
pubspec.lock # (optional, keep this if you want consistent deps across devices)
